body{
font-family:Arial;
background:#f4f7fb;
margin:0;
}

.header{
text-align:center;
background:#1c2a38;
color:white;
padding:40px;
}

.controls{
display:flex;
justify-content:center;
gap:20px;
margin:30px;
flex-wrap:wrap;
}

.controls input,
.controls select,
.controls button{
padding:10px 15px;
font-size:15px;
border-radius:6px;
border:1px solid #ccc;
}

.controls button{
background:#2e86de;
color:white;
border:none;
cursor:pointer;
}

.controls button:hover{
background:#1b4f72;
}

.table-container{
width:90%;
margin:auto;
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
background:white;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
border-radius:8px;
overflow:hidden;
}

th{
background:#2c3e50;
color:white;
padding:12px;
cursor:pointer;
}

td{
padding:12px;
border-bottom:1px solid #eee;
}

tr:hover{
background:#f1f5fb;
}

/* Air Quality Colors */

.good{
color:green;
font-weight:bold;
}

.medium{
color:orange;
font-weight:bold;
}

.bad{
color:red;
font-weight:bold;
}

.pagination{
text-align:center;
margin:30px;
}

.pagination button{
padding:8px 15px;
margin:5px;
}